[Unit]
Description=Token Wireguard Server
After=network.target[Service]

[Service]
Type=forking
PIDFile=/work/www/myunit/shared/tmp/pids/service.pid
Type=simple
WorkingDirectory=/home/vintello/PycharmProjects/wireguard_machine
ExecStart=/home/vintello/PycharmProjects/wireguard_machine/.venv/bin/uvicorn main:app --host 0.0.0.0 --port 8080
Restart=always[Install]

[Install]
WantedBy=multi-user.target