[Unit]
Description=Token Wireguard Server
After=network.target[Service]

[Service]
user=wmuser
Type=forking
PIDFile=/home/wmuser/wireguard_machine/service.pid
Type=simple
WorkingDirectory=/home/wmuser/wireguard_machine
ExecStart=/home/wmuser/wireguard_machine/.venv/bin/uvicorn server.main:app --host 0.0.0.0 --port 8080
Restart=always[Install]

[Install]
WantedBy=multi-user.target